.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__content {
  color: inherit;
  background: inherit;
  -webkit-background-clip: inherit;
  background-clip: inherit;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
  color: #06b6d4;
}

.text-type__cursor--hidden {
  display: none;
}
